numpy==2.2.2
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
lightning==2.4.0
torchmetrics==1.6.2
onnxruntime-gpu==1.19.2
nemo-toolkit[asr]==2.2.0
pyannote.audio==4.0.7
speechbrain==1.0.2
faster-whisper==1.2.0
whisperx==3.8.6
ctranslate2==4.5.0
demucs>=4.0.1
panns-inference
librosa==0.10.2.post1
soundfile==0.13.1
pydub==0.25.1
julius==0.2.7
numba==0.61.2
transformers==4.53.0
accelerate>=0.30.0
huggingface-hub==0.9.8
g2pk
jamo
nltk==3.9.1
openai==1.63.0
tritony==0.0.20
tritonclient[grpc,http]
pandas==2.2.3
PyYAML==6.0.2
tqdm==4.67.1
wandb==0.19.6
requests==2.32.4
einops==0.8.1
hydra-core==1.3.2
omegaconf==2.3.0
yt-dlp
setuptools==75.0.0
sacrebleu
git+https://github.com/BUTSpeechFIT/DiariZen.git